<div class="media hidden-sm-down">
  <div class="media-left media-middle">
    <%= avatar_for user %>
  </div>
  <div class="media-body">
    <%= user.name %>
  </div>
</div>
<div class="hidden-md-up">
  <%= avatar_for user %>
</div>
