<div id="chats" class="col-md-9">
  <%= render @chats %>
</div>
<div id="users" class="col-md-3">
</div>
<%= form_for @chat, url: '#' do |f| %>
  <div class="form-group col-xs-9 col-md-11">
    <%= f.text_field :message, placeholder: 'Message', maxlength: 1000, class: 'form-control', autofocus: true, autocomplete: :off %>
  </div>
  <%= f.submit "Post", class: 'btn btn-primary btn-md col-xs-3 col-md-1' %>
<% end %>
